*
!doc
!doc/**
doc/Inception-of-Things\ 4.0.pdf

!app
!app/**

!src
!src/**
src/p1/token
src/p1/.vagrant
src/p2/token
src/p2/.vagrant
src/p3/token
src/p3/.vagrant
src/bonus/token
src/bonus/.vagrant

!images
!images/**

!.gitignore
!README.md
!README_es.md
!LICENSE
!iot.sh
